$linkColor: #e6a83d;

body {
  --ContainerWidth: 90vw;
  --LinkColor: #{$linkColor};
  margin: 8px;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.45;

  @media (min-width: 712px) {
    --ContainerWidth: 640px;
  }
}

$small: 15;
$large: 18;

:root {
  font-size: #{$small}px;
}

@media screen and (min-width: 320px) and (max-width: 712px) {
  :root {
    font-size: calc( #{$small}px + (#{$large} - #{$small}) * ((100vw - 320px) / ( 712 - 320)));
  }
}

@media screen and (min-width: 712px) {
  :root {
    font-size: #{$large}px;
  }
}

a {
  color: var(--LinkColor);
  text-decoration: none;
}

$colour-grey: rgb(82,82,82);
$colour-white: rgb(255,255,255);

.u-owl-half > * + * {
  margin-top: .5rem;
}

.u-owl-one > * + * {
  margin-top: 1rem;
}

.u-owl-two > * + * {
  margin-top: 2rem;
}

.u-owl-three > * + * {
  margin-top: 3rem;
}

.u-owl-four > * + * {
  margin-top: 4rem;
}

.u-top-0 {
  top: 0;
}

.u-right-0 {
  right: 0;
}

.u-fixed {
  position: fixed;
}


.u-relative {
  position: relative;
}

.u-z-1 {
  z-index: 1;
}

.u-flex {
  display: flex;
}

.u-mv-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.u-mt-half {
  margin-top: .5rem;
}

.u-mt-three {
  margin-top: 3rem;
}

.u-color-white {
  color: white;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-align-center {
  text-align: center;
}

.c-hero {
  position: relative;
  min-height: 75vh;
  background: $colour-grey url('/dist/img/landscape.jpg') no-repeat center;
  background-size: cover;
  text-shadow: 0 0 5px rgba($colour-grey, .4);
  
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(82,82,82,.4);
    content: '';
    z-index: 1;
  }
}

.c-menu-button {
  z-index: 10;
  width: 4rem;
  height: 4rem;
  appearance: none;
  background: $colour-grey;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.c-navigation {
  align-items: center;
  height: 4rem;
  background: $colour-white;
  
  > * {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    
    > * + * {
      margin-left: 4vw;
      opacity: .75;
      
      &:hover {
        opacity: 1;
      }
    }
  }
}

.u-pv-4rem {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.c-button {
  display: inline-flex;
  padding: .6em 1em;
  color: var(--LinkColor);
  font-weight: 500;
  border: 2px solid var(--LinkColor);
}

.o-container {
  margin-left: auto;
  margin-right: auto;
  width: var(--ContainerWidth);
}

h1 {
  font-size: 2.8rem;
  font-weight: 200;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3,
.u-h3 {
  font-size: 1.4rem;
  font-weight: 300;
}

hr {
  display: block;
  width: 2rem;
  height: 1px;
  margin: 2rem auto;
  background-color: rgba($colour-grey, .2);
  border: none;
}

article {
  line-height: 1.6;
}

details {

}

summary {
  cursor: pointer;

  &::-webkit-details-marker {
    color: var(--LinkColor);
  }

  &:hover,
  &:focus {
    color: darken($linkColor, 20%);

    &::-webkit-details-marker {
      color: var(--LinkColor);
    }
  }
}